{% extends "base.html" %}

{% block title %}Test{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="assets/markdown.css">
    <style>
        .markdown-body {
            max-width: 960px;
            margin: 0 auto;
        }
    </style>
    <script src="assets/marked.min.js"></script>
{% endblock %}

{% block body %}
    <article class="markdown-body" id="content"></article>
    <script>
        fetch('assets/docs.md')
        .then(response => response.text())
        .then(text => {
            document.getElementById('content').innerHTML = marked.parse(text);
        });
    </script>
{% endblock %}